# Copiez ce fichier en .streamlit/secrets.toml pour connecter l’application à Snowflake.
# Ne commitez jamais le fichier secrets.toml réel.

[snowflake]
account = "HABIXRB-QYB88421"      # ex. xy12345.eu-west-1
user = "Adam"
password = "Amoussaoui54444"
role = "SYSADMIN"             # ex. ACCOUNTADMIN
warehouse = "COMPUTE_WH"   # ex. COMPUTE_WH
database = "SMOOTHIES"
schema = "PUBLIC"
client_session_keep_alive = true